# Projet

### Description du projet
    - Création d'une application Web vous basant sur le package Flask.
    - Récupération des données sur le web scrapées grâce à ce que vous aurez appris durant ce cours.
    - Affichage des données de façon optimale, moteur de recherche, graphiques, etc. 
    - Utilisation d'une ou plusieurs bases de données abordées dans ce cours. 
    - Création d'une documentation technique et fonctionnelle.  
    
### Description 
    -Site utilisé : https://www.allocine.fr/
    -robot.txt : https://www.allocine.fr/robots.txt
    
    -Récupération d'informations possibles : 
        (Scrap#1) Page : Top film (10x30 films par pages) : 
            Date/Durée/Genre/Note presse/Note spectateur/Nombre de votes/Synopsis/Budget/Langue/Nombre Récompense/Distributeur/Casting Principal/Réalisateur/Top critique Spectateur
            (Scrap#2) Page Casting pour avoir la liste complète
            (Scrap#3) Page des récompenses pour avoir le détail
        (Scrap#1) Page : Films à l'affiche : Même données
            (Scrap#4) Page Du box office pour relier à l'affiche 
        (Scrap#1) Page : Tous les films trié par popularité/Note presse/Note pop (15 films par page)
    -Possible utilisation des données offrant une plus value avec ou sans graphe
        -Histogramme des moyennes de note(pop ou presse)/Nombre de critique des films d'un réalisateur par année de sortie
        -Diagramme circulaire des genres de film à l'affiche
        -Graphe de l'évolution de box office d'un film à l'affiche sur la dernière semaine (à vérifier)
        -Liste de film par paire de membre de casting 
        -Autres à définir

    -Scraping : Utilisation de Scrapy préféré

### Objectif :
    -Choisir ce que l'on veut récupérer comme données
    -Prendre en compte le robot.txt
    -Récupération des données
    -En faire une base de donnée 
    -Nettoyer la base de donnée
    -Mettre en relation les bases de données (si plusieurs)
    -Manipuler les données
    -Faire la page web 
    -Faire la page web de manière interactive
    

### Questions :
    -Est-ce que l'on peut utiliser Dash pour la page Flask ? 
    -Comment interpréter le robot.txt
    -La documentation c'est un User guide + Developpeur Guide ou c'est un rapport des étapes/difficultés etc...
    -Plus value nécessaire ?
    
### Réponse :

Par rapport à la valeur ajouté il faudrait ajouter quelque chose qui existe ailleur
Faudrait rassembler les données de allociné et les lier aux données d’autres sites internets 
Exemple : 
Si on récupère le casting d’allociné on peut ajouter un scrap twitter pour associer au nombre de follower, on peut alors voir les films avec le plus de follower d’acteur et essayer de faire des liaisons théoriques
Ca peut être autre chose et pas que des réseaux sociaux 
=> faut ajouter une dimension/introduire une notion qui n’existe pas ailleur
=> Un peu du bonus mais très cool à faire ne plus

Comment relier le nom des acteurs aux twitter ?
	=> Moteur de recherche, on récupère le pseudo, on va sur la page twitter puis les foll
	=> Rechercher un site qui recense les page twitter des personnalités 
	=> 

Est-ce que l’on peut utiliser dash ? 
=> Attendre les conseilles de Raphaël 


Comment interpréter le robot.txt 
=> Rien n’est interdit, c’est juste que le site n’aimerait pas trop mais voilà on fait pas de bénéfices derrières donc on peut y aller


## Récupération des données

In [14]:
#Vérification de l'installation de scrapy et importation
#!pip install scrapy

In [15]:
import scrapy
import pandas as pd
import numpy as np
import pymongo
import unicodedata

## Projet stade

### Scraper allociné
Prochaine étape : 
 #####  - ✓ Faire la commande pour récupérer la liste des titres dans la page meilleur film
Dans le shell : <br>
scrapy shell "https://www.allocine.fr/film/meilleurs/" <br>
On a la liste des titres en marquant  <br>
[response.css("#content-layout .mdl")[i].css("a::text").extract_first() for i in range (10)] <br>
 #####  - ✓ Faire la class pour récupérer les titres + lien de la page des films 
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev1 <br>
 Activation : cmd dans la page projet spider puis : scrapy crawl besttitlev1 <br>
 Activation + save : cmd dans la page projet puis : scrapy crawl besttitlev1 -o titlelink.csv <br>
 
 #####  - ✓ Faire  la commande pour scrap des informations recherchés sur chaque lien
 Check dans la classe <br>
 #####  - ✓ Faire la class de ce nouveau scrap 
 ######  ✓ Version 2
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev2 <br>
 Permet d'avoir les informations souhaitées mais une partie est stockée dans un fichier json <br>
 La liste de liens de film est pris sur fichier csv de besttitlev1 <br>
 La class n'est donc pas indépendante <br>
 ######  ✓ Version 3
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev3 <br>
 Permet d'avoir proprement le titre, le synopsis, la date, la duree, le genre, le casting, le réalisateur, le nombre de note, le nombre de critique, la note publique, la note de press <br>
 La liste de liens de film est pris sur fichier csv de besttitlev1 <br>
 La class n'est donc pas indépendante <br>
 Soucis au niveau des notes de presse absente qui font que 16 films ne passent pas <br>
 ###### ✓Version  4
 Objectif est de pouvoir avoir la fusion entre la version 1 et la version 3 de manière à ce que seule la version 4 soit nécessaire <br>
 Object est également de virer le problème de la note de presse et des 16 films qui ne passent pas <br>
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev3 <br>
 Il manque juste le soucis de la note de presse <br>
 
 
 
 ###  - Scraper boxoffice mojo
 ###  - Mise en place dans une base de donnée Mongodb
 ### - Mise en place du site Flask

In [16]:
client = pymongo.MongoClient("mongo")
database = client['projet']
collection = database['movies']

In [17]:
df_movies = pd.read_csv("rsltmoviesv1.csv")
print(df_movies.shape)
df_movies.head(50)

(273, 18)

,title,titleint,catinfo,synop,genre,date,duree,cast,real,nbrnote,nbrcrit,notepub,notepre,titleen,budget,boxdom,boxint,boxtot
0,Pulp Fiction,Bac Films,Distributeur,L'odyssée sanglante et burlesque de petits mal...,"Policier,Thriller",26 octobre 1994,2h 29min,"John Travolta,Samuel L. Jackson,Uma Thurman,Br...",Quentin Tarantino,92123,3541,"4,5","4,4",Pulp Fiction,"$8,000,000","$107,928,762","$106,000,000","$213,928,762"
1,Midnight Express,Columbia Films,Distributeur,"Billy Hayes, touriste en Turquie, est arrêté à...",Drame,1 septembre 1978,2h 00min,"Brad Davis,Irene Miracle,Bo Hopkins,Paolo Bona...",Alan Parker,19863,882,"4,3","2,0",Midnight Express,"$2,300,000",", an American college student, is caught smugg...",NaN,"$35,000,000"
2,Warrior,Metropolitan FilmExport,Distributeur,"Ancien Marine brisé, Tommy Conlon rentre au pa...","Action,Drame",14 septembre 2011,2h 20min,"Joel Edgerton,Tom Hardy,Jennifer Morrison,Fran...",Gavin O'Connor,8808,988,"4,3","3,6",Warrior,"$25,000,000","$13,657,115","$9,651,500","$23,308,615"
3,Là-haut,Up,Titre original,NaN,"Animation,Famille,Fantastique",29 juillet 2009,1h 35min,NaN,Pete Docter,44784,2363,"4,3","4,6",Up,"$175,000,000","$293,004,164","$442,094,938","$735,099,102"
4,Mustang,Ad Vitam,Distributeur,C'est le début de l'été. Dans un village recul...,Drame,17 juin 2015,1h 33min,"Güneş Nezihe Şensoy,Doğa Zeynep Doğuşlu,Elit İ...",Deniz Gamze Ergüven,6713,456,"4,3","4,0",The Mustang,NaN,"$5,043,620","$1,362,196","$6,405,816"
5,Call Me By Your Name,Sony Pictures Releasing France,Distributeur,"Été 1983. Elio Perlman, 17 ans, passe ses vaca...","Drame,Romance",28 février 2018,2h 11min,"Armie Hammer,Timothée Chalamet,Michael Stuhlba...",Luca Guadagnino,7200,528,"4,3","4,2",Call Me by Your Name,NaN,"$18,095,701","$23,792,959","$41,888,660"
6,Sueurs froides,Vertigo,Titre original,"Scottie est sujet au vertige, ce qui lui porte...","Thriller,Drame",30 janvier 1959,2h 09min,"James Stewart,Kim Novak,Barbara Bel Geddes,Hen...",Alfred Hitchcock,10829,600,"4,3","3,8",Vertigo,NaN,"$7,705,225","$92,075","$7,797,300"
7,Sixième Sens,The Sixth Sense,Titre original,"Cole Sear, garconnet de huit ans est hanté par...","Thriller,Drame",5 janvier 2000,1h 47min,"Bruce Willis,Haley Joel Osment,Toni Collette,O...",M. Night Shyamalan,70132,1898,"4,3","4,0",The Sixth Sense,"$40,000,000","$293,506,292","$379,300,000","$672,806,292"
8,Le Discours d'un roi,The King's Speech,Titre original,D’après l’histoire vraie et méconnue du père d...,"Biopic,Historique,Drame",2 février 2011,1h 58min,"Colin Firth,Helena Bonham Carter,Derek Jacobi,...",Tom Hooper,31293,2565,"4,3","4,0",The King's Speech,"$15,000,000","$138,797,449","$288,576,868","$427,374,317"
9,Taxi Driver,Park Circus France,Distributeur,NaN,"Drame,Policier",2 juin 1976,1h 55min,"Robert De Niro,Jodie Foster,Harvey Keitel,Cybi...",Martin Scorsese,28790,1371,"4,3","4,8",Taxi Driver,NaN,"$28,262,574","$178,718","$28,441,292"
10,Aladdin,Gaumont Buena Vista International (GBVI),Distributeur,"Comment Aladdin, grâce à la felonie du grand v...","Animation,Comédie musicale,Romance",10 novembre 1993,1h 30min,NaN,John Musker,35492,806,"4,3","4,4",Aladdin,"$183,000,000","$355,559,216","$695,134,737","$1,050,693,953"
11,Dragons 2,How to Train Your Dragon 2,Titre original,"Tandis qu’Astrid, Rustik et le reste de la ban...","Animation,Aventure,Famille",2 juillet 2014,1h 43min,NaN,Dean DeBlois,16458,1210,"4,3","4,0",How to Train Your Dragon 2,"$145,000,000","$177,002,924","$444,534,595","$621,537,519"
12,Il était une fois en Amérique,Once Upon a Time in America,Titre original,"Il était une fois deux truands juifs, Max et N...","Drame,Policier",23 mai 1984,4h 11min,"Robert De Niro,James Woods,Elizabeth McGovern,...",Sergio Leone,19539,1093,"4,5","4,9",Once Upon a Time in America,NaN,"$5,321,508","$151,406","$5,472,914"
13,Imitation Game,The Imitation Game,Titre original,"1940 : Alan Turing, mathématicien, cryptologue...","Biopic,Drame",28 janvier 2015,1h 55min,"Benedict Cumberbatch,Keira Knightley,Matthew G...",Morten Tyldum,25516,1296,"4,3","3,4",The Imitation Game,NaN,"$91,125,683","$142,430,025","$233,555,708"
14,Retour vers le futur,Back to the Future,Titre original,1985. Le jeune Marty McFly mène une existence ...,"Science fiction,Aventure",30 octobre 1985,1h 56min,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,78294,1999,"4,4","3,6",Back to the Future,"$19,000,000","$211,406,762","$170,500,000","$381,109,762"
15,Citizen Kane,Théâtre du Temple,Distributeur,"A la mort du milliardaire Charles Foster Kane,...",Drame,1 juillet 1946,1h 59min,"Orson Welles,Joseph Cotten,Dorothy Comingore,A...",Orson Welles,10618,643,"4,3","4,8",Citizen Kane,NaN,"$1,585,634","$15,085","$1,600,719"
16,Wonder,Metropolitan FilmExport,Distributeur,August Pullman est un petit garçon né avec une...,"Drame,Famille",20 décembre 2017,1h 51min,"Julia Roberts,Jacob Tremblay,Owen Wilson,Izabe...",Stephen Chbosky,5658,355,"4,3","3,0",Wonder,NaN,"$132,422,809","$173,517,797","$305,940,606"
17,Le Château ambulant,Hauru no ugoku shiro,Titre original,"La jeune Sophie, âgée de 18 ans, travaille sa...","Animation,Fantastique",12 janvier 2005,1h 59min,NaN,Hayao Miyazaki,25853,1297,"4,3","4,3",Howl's Moving Castle,NaN,"$5,576,743","$230,637,703","$236,214,446"
18,Heat,Park Circus France,Distributeur,Neil McCauley est un braqueur qui a de l'expér...,"Policier,Drame",21 février 1996,2h 50min,"Al Pacino,Robert De Niro,Val Kilmer,Jon Voight",Michael Mann,33152,1706,"4,3","3,2",Heat,NaN,"$67,436,818","$120,000,000","$187,436,818"
19,Dofus - Livre 1 : Julith,Gebeka Films,Distributeur,"Dans la majestueuse cité de Bonta, Joris coule...",Animation,28 janvier 2016,1h 47min,"Sauvane Delanoe,Emmanuel Gradi,Laetitia Lefebvre",Anthony Roux,1702,329,"4,3","2,8",Dofus - Livre 1: Julith,NaN,The strange little guy in the blue hood is wel...,"$13,804","$13,804"
20,Le Voyage de Chihiro,Sen to Chihiro no Kamikakushi,Titre original,"Chihiro, dix ans, a tout d'une petite fille ca...","Animation,Aventure",10 avril 2002,2h 05min,NaN,Hayao Miyazaki,39414,1372,"4,4","4,8",Spirited Away,NaN,"$13,750,644","$341,725,273","$355,475,917"
21,Mon voisin Totoro,Tonari no Totoro,Titre original,Deux petites filles viennent s'installer avec ...,"Animation,Fantastique",8 décembre 1999,1h 27min,NaN,Hayao Miyazaki,18497,703,"4,3","4,4",My Neighbor Totoro,NaN,"$2,250,213","$28,296,885","$30,547,098"
22,Interstellar,Warner Bros. France,Distributeur,NaN,"Science fiction,Drame",5 novembre 2014,2h 49min,"Matthew McConaughey,Anne Hathaway,Michael Cain...",Christopher Nolan,62519,4414,"4,5","3,8",Interstellar,"$165,000,000","$188,020,017","$513,709,110","$701,729,127"
23,Ma Vie De Courgette,Gebeka Films,Distributeur,"Courgette n’a rien d’un légume, c’est un vaill...","Animation,Drame,Famille",19 octobre 2016,1h 06min,NaN,Claude Barras,3755,267,"4,3","4,4",My Life as a Zucchini,NaN,"$309,766","$5,563,490","$5,873,256"
24,Nous trois ou rien,Gaumont Distribution,Distributeur,D’un petit village du sud de l’Iran aux cités ...,Comédie dramatique,4 novembre 2015,1h 42min,"Kheiron,Leïla Bekhti,Gérard Darmon,Zabou Breitman",Kheiron,7120,677,"4,3","3,6",All Three of Us,NaN,An Iranian family survives the shah and the ay...,"$3,985,169","$3,985,169"
25,Dallas Buyers Club,UGC Distribution,Distributeur,NaN,"Drame,Biopic",29 janvier 2014,1h 57min,"Matthew McConaughey,Jennifer Garner,Jared Leto...",Jean-Marc Vallée,16504,994,"4,3","3,9",Dallas Buyers Club,"$5,000,000","$27,298,285","$28,438,303","$55,736,588"
26,Into the Wild,Pathé,Distributeur,"Tout juste diplômé de l'université, Christophe...","Aventure,Drame,Biopic",9 janvier 2008,2h 28min,"Emile Hirsch,Marcia Gay Harden,William Hurt,Je...",Sean Penn,53168,3573,"4,3","3,9",Into the Wild,NaN,"$18,354,356","$38,321,539","$56,675,895"
27,Patients,Gaumont Distribution,Distributeur,"Se laver, s'habiller, marcher, jouer au basket...","Drame,Comédie",1 février 2017,1h 52min,"Pablo Pauly,Soufiane Guerrab,Moussa Mansaly,Na...",Grand Corps Malade,7472,524,"4,3","3,8",Step by Step,NaN,"Patients is the story of a rebirth, a chaotic ...","$8,700,784","$8,700,784"
28,Casino,United International Pictures (UIP),Distributeur,"En 1973, Sam Ace Rothstein est le grand manito...",Drame,13 mars 1996,2h 58min,"Robert De Niro,Sharon Stone,Joe Pesci,Don Rickles",Martin Scorsese,25852,1201,"4,3","4,4",Casino,NaN,"$42,512,375","$73,600,000","$116,112,375"
29,Le Château dans le ciel,Tenku no shiro Rapyuta,Titre original,Retenue prisonnière par des pirates dans un di...,"Animation,Aventure,Fantastique,Science fiction",1 novembre 2002,2h 04min,NaN,Hayao Miyazaki,23400,828,"4,3","5,0",Castle in the Sky,NaN,"$523,664","$5,516,357","$6,040,021"
30,La Vie est belle,It's a Wonderful Life,Titre original,Le décès de son père oblige un homme à reprend...,"Comédie dramatique,Fantastique,Drame,Comédie",10 décembre 1947,2h 09min,"James Stewart,Donna Reed,Lionel Barrymore,Thom...",Frank Capra,8880,451,"4,3","5,0",It's a Wonderful Life,NaN,"$44,000","$6,140,298","$6,184,298"
31,La Mort aux trousses,North by Northwest,Titre original,Le publiciste Roger Tornhill se retrouve par e...,"Policier,Aventure",21 octobre 1959,2h 16min,"Cary Grant,Eva Marie Saint,James Mason,Adam Wi...",Alfred Hitchcock,15986,675,"4,3","4,6",North by Northwest,NaN,A New York City advertising executive goes on ...,"$73,695","$73,695"
32,La Ruée vers l'or,The Gold Rush,Titre original,"1898, Nord-Ouest du Canada. Alors que des mill...",Comédie,9 octobre 1925,1h 12min,"Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",Charles Chaplin,6380,226,"4,3","5,0",The Gold Rush,NaN,A prospector goes to the Klondike in search of...,"$26,916","$26,916"
33,Dragons 3 : Le monde caché,How To Train Your Dragon: The Hidden World,Titre original,Harold est maintenant le chef de Berk au côté ...,"Animation,Aventure,Famille",6 février 2019,1h 44min,NaN,Dean DeBlois,5515,346,"4,3","3,9",How to Train Your Dragon: The Hidden World,"$129,000,000","$160,799,505","$363,584,310","$524,383,815"
34,La Cité de Dieu,Cidade de Deus,Titre original,Dans une favela qui a vu le jour à Rio de Jane...,"Drame,Policier",12 mars 2003,2h 15min,"Alexandre Rodrigues,Leandro Firmino da Hora,Se...",Fernando Meirelles,18669,841,"4,3","3,9",City of God,NaN,"$7,564,459","$23,116,334","$30,680,793"
35,Le Crime était presque parfait,Dial M. for Murder,Titre original,"Tony Wendice, une ancienne gloire du tennis, s...","Thriller,Policier",2 février 1955,1h 45min,"Ray Milland,Grace Kelly,Robert Cummings,Anthon...",Alfred Hitchcock,6577,281,"4,3","4,4",Dial M for Murder,NaN,"$12,562","$6,254","$18,816"
36,Boulevard du crépuscule,Sunset Blvd.,Titre original,"Norma Desmond, grande actrice du muet, vit rec...","Drame,Romance",18 avril 1951,1h 50min,"William Holden,Gloria Swanson,Erich Von Strohe...",Billy Wilder,3010,225,"4,3","4,4",Sunset Blvd.,NaN,"$299,645",$428,"$300,073"
37,Une merveilleuse histoire du temps,The Theory of Everything,Titre original,"1963, en Angleterre, Stephen, brillant étudian...","Biopic,Drame",21 janvier 2015,2h 03min,"Eddie Redmayne,Felicity Jones,Tom Prior,Harry ...",James Marsh,9601,703,"4,3","3,3",The Theory of Everything,"$15,000,000","$35,893,537","$87,833,151","$123,726,688"
38,Le Cercle des poètes disparus,Dead Poets Society,Titre original,"Todd Anderson, un garçon plutôt timide, est en...",Comédie dramatique,17 janvier 1990,2h 08min,"Robin Williams,Ethan Hawke,Robert Sean Leonard...",Peter Weir,42993,1292,"4,3","4,0",Dead Poets Society,NaN,"$95,860,116","$140,000,000","$235,860,116"
39,Snatch,Columbia TriStar Films,Distributeur,Franky vient de voler un énorme diamant qu'il ...,"Policier,Comédie",15 novembre 2000,1h 43min,"Jason Statham,Brad Pitt,Vinnie Jones,Stephen G...",Guy Ritchie,39790,1575,"4,3","3,7",Snatch,NaN,"$30,328,156","$53,229,716","$83,557,872"
40,L'Armée des Ombres,Les Acacias,Distributeur,"France 1942. Gerbier, ingénieur des Ponts et C...","Drame,Guerre",12 septembre 1969,2h 20min,"Lino Ventura,Simone Signoret,Paul Crauchet,Jea...",Jean-Pierre Melville,4777,325,"4,3","4,5",Army of Shadows,NaN,"$771,956","$68,766","$840,722"
41,Old Boy,Oldeuboi,Titre original,"A la fin des années 80, Oh Dae-Soo, père de fa...","Thriller,Drame,Action",29 septembre 2004,1h 59min,"Min-sik Choi,Yoo Ji-tae,Kang Hye-Jeong,Ji Dae-Han",Park Chan-Wook,23001,1600,"4,3","4,0",Oldboy,NaN,"$707,481","$14,294,635","$15,002,116"
42,Vice Versa,Inside Out,Titre original,"Au Quartier Général, le centre de contrôle sit...","Animation,Comédie,Famille",17 juin 2015,1h 35min,NaN,Pete Docter,29231,1622,"4,3","4,7",Inside Out,"$175,000,000","$356,921,711","$501,149,639","$858,071,350"
43,Danse avec les loups,Dances with Wolves,Titre original,Le jeune lieutenant John Dunbar est envoyé à u...,Western,20 février 1991,3h 54min,"Kevin Costner,Mary McDonnell,Rodney A. Grant,F...",Kevin Costner,30807,987,"4,3","5,0",Dances with Wolves,"$22,000,000","$184,208,848","$240,000,000","$424,208,848"
44,Dans ses yeux,El Secreto de Sus Ojos,Titre original,"1974, Buenos Aires. Benjamin Esposito enquête ...","Drame,Policier,Romance,Thriller",5 mai 2010,2h 09min,"Ricardo Darín,Soledad Villamil,Pablo Rago,Guil...",Juan José Campanella,3973,763,"4,3","3,6",The Secret in Their Eyes,NaN,"$6,391,436","$28,688,214","$35,079,650"
45,Le Majordome,The Butler,Titre original,NaN,"Drame,Biopic",11 septembre 2013,2h 12min,"Forest Whitaker,Oprah Winfrey,Mariah Carey,Joh...",Lee Daniels,18647,1271,"4,3","3,2",Lee Daniels' The Butler,"$30,000,000","$116,632,095","$60,681,700","$177,313,795"
46,Star Wars : Episode III - La Revanche des Sith,Star Wars: Episode III - Revenge of the Sith,Titre original,La Guerre des Clones fait rage. Une franche ho...,"Science fiction,Action,Aventure",18 mai 2005,2h 20min,"Hayden Christensen,Ewan McGregor,Natalie Portm...",George Lucas,68713,3541,"4,3","3,9",Star Wars: Episode III - Revenge of the Sith,"$113,000,000","$380,270,577","$488,119,983","$868,390,560"
47,Amadeus,Warner Bros. France,Distributeur,"A Vienne, en novembre 1823. Au coeur de la nui...","Comédie dramatique,Historique",31 octobre 1984,3h 00min,"Tom Hulce,F. Murray Abraham,Elizabeth Berridge...",Milos Forman,20371,898,"4,3","4,5",Amadeus,NaN,"$51,973,029","$93,762","$52,066,791"
48,Harry Potter et les reliques de la mort - part...,Harry Potter and the Deathly Hallows - Part 2,Titre original,"Dans la 2e Partie de cet épisode final, le com...","Fantastique,Aventure",13 juillet 2011,2h 10min,"Daniel Radcliffe,Rupert Grint,Emma Watson,Ralp...",David Yates,45985,4037,"4,3","3,8",Harry Potter and the Deathly Hallows: Part 2,NaN,"$381,409,310","$960,814,625","$1,342,223,936"
49,Le Chant du Loup,Pathé,Distributeur,Un jeune homme a le don rare de reconnaître ch...,"Thriller,Guerre,Action",20 février 2019,1h 56min,"François Civil,Omar Sy,Mathieu Kassovitz,Reda ...",Antonin Baudry,17315,1445,"4,3","3,5",Le chant du loup,NaN,"In the near future, a French submarine finds i...","$12,652,790","$12,652,790"

In [18]:
#Nettoyage de la base de donnée

#Nettoyage de la partie allociné
for i in range (df_movies.shape[0]):
    if (df_movies["catinfo"][i] != ' Titre original '):
        df_movies["titleint"][i] = unicodedata.normalize('NFD', df_movies["title"][i]).encode('ascii', 'ignore').decode('utf-8')
df_movies = df_movies.drop(columns=['catinfo'])

#Nettoyage de la partie boxofficemojo
for i in range (df_movies.shape[0]): 
    if ((df_movies['boxint'][i] == df_movies['boxtot'][i]) and ('$' not in df_movies['boxdom'][i][0])):
        df_movies['boxdom'][i] = np.NaN
    if ((type(df_movies['boxint'][i]) == float) and ('$' not in df_movies['boxdom'][i])):
        df_movies['boxdom'][i] = df_movies['boxtot'][i]
        df_movies['boxint'][i] = np.NaN
        
#Mise en forme
df_movies['rent'] = pd.Series(np.NaN, index=df_movies.index)
for i in range (df_movies.shape[0]):
    #Mise en place de la colonne rentabilité
    if (type(df_movies['boxtot'][i]) == float or type(df_movies['budget'][i]) == float):
        df_movies['rent'][i] = np.NaN
    else:
        df_movies['rent'][i] = float(df_movies['boxtot'][i][1:].replace(',','')) - float(df_movies['budget'][i][1:].replace(',',''))

    #Séparation des genres en liste de genre et non une string de genre
    df_movies['genre'][i] = df_movies['genre'][i].split(',')  
        
    #Mise en place du format date pour la colonne date
    df_movies['date'][i] = df_movies['date'][i].replace(' ', '-')
    if ('janvier' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('janvier', '01')
    elif ('février' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('février', '02')
    elif ('mars' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mars', '03')
    elif ('avril' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('avril', '04')
    elif ('mai' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mai', '05')
    elif ('juin' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juin', '06')
    elif ('juillet' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juillet', '07')
    elif ('août' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('août', '08')
    elif ('septembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('septembre', '09')
    elif ('octobre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('octobre', '10')
    elif ('novembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('novembre', '11')
    elif ('décembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('décembre', '12')
df_movies['date'] = pd.to_datetime(df_movies['date'], format='%d-%m-%Y')

<ipython-input-18-927f222e4bb9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies["titleint"][i] = unicodedata.normalize('NFD', df_movies["title"][i]).encode('ascii', 'ignore').decode('utf-8')
<ipython-input-18-927f222e4bb9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxdom'][i] = df_movies['boxtot'][i]
<ipython-input-18-927f222e4bb9>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxint'][i] = np.NaN
<ipython-input-18-927f222e4bb9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxdom'][i] = np.NaN
<ipython-input-18-927f222e4bb9>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['rent'][i] = float(df_movies['boxtot'][i][1:].replace(',','')) - float(df_movies['budget'][i][1:].replace(',',''))
<ipython-input-18-927f222e4bb9>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['genre'][i] = df_movies['genre'][i].split(',')
<ipython-input-18-927f222e4bb9>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['date'][i] = df_movies['date'][i].replace(' ', '-')
<ipython-input-18-927f222e4bb9>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('octobre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('octobre', '10')
<ipython-input-18-927f222e4bb9>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('septembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('septembre', '09')
<ipython-input-18-927f222e4bb9>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('juillet' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juillet', '07')
<ipython-input-18-927f222e4bb9>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['rent'][i] = np.NaN
<ipython-input-18-927f222e4bb9>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('juin' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juin', '06')
<ipython-input-18-927f222e4bb9>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('février' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('février', '02')
<ipython-input-18-927f222e4bb9>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if ('janvier' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('janvier', '01')
<ipython-input-18-927f222e4bb9>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('novembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('novembre', '11')
<ipython-input-18-927f222e4bb9>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('mai' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mai', '05')
<ipython-input-18-927f222e4bb9>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('décembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('décembre', '12')
<ipython-input-18-927f222e4bb9>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('avril' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('avril', '04')
<ipython-input-18-927f222e4bb9>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('mars' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mars', '03')
<ipython-input-18-927f222e4bb9>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('août' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('août', '08')

In [19]:
df_movies.head(50)

,title,titleint,synop,genre,date,duree,cast,real,nbrnote,nbrcrit,notepub,notepre,titleen,budget,boxdom,boxint,boxtot,rent
0,Pulp Fiction,Pulp Fiction,L'odyssée sanglante et burlesque de petits mal...,"[Policier, Thriller]",1994-10-26,2h 29min,"John Travolta,Samuel L. Jackson,Uma Thurman,Br...",Quentin Tarantino,92123,3541,"4,5","4,4",Pulp Fiction,"$8,000,000","$107,928,762","$106,000,000","$213,928,762",205928762.0
1,Midnight Express,Midnight Express,"Billy Hayes, touriste en Turquie, est arrêté à...",[Drame],1978-09-01,2h 00min,"Brad Davis,Irene Miracle,Bo Hopkins,Paolo Bona...",Alan Parker,19863,882,"4,3","2,0",Midnight Express,"$2,300,000","$35,000,000",NaN,"$35,000,000",32700000.0
2,Warrior,Warrior,"Ancien Marine brisé, Tommy Conlon rentre au pa...","[Action, Drame]",2011-09-14,2h 20min,"Joel Edgerton,Tom Hardy,Jennifer Morrison,Fran...",Gavin O'Connor,8808,988,"4,3","3,6",Warrior,"$25,000,000","$13,657,115","$9,651,500","$23,308,615",-1691385.0
3,Là-haut,Up,NaN,"[Animation, Famille, Fantastique]",2009-07-29,1h 35min,NaN,Pete Docter,44784,2363,"4,3","4,6",Up,"$175,000,000","$293,004,164","$442,094,938","$735,099,102",560099102.0
4,Mustang,Mustang,C'est le début de l'été. Dans un village recul...,[Drame],2015-06-17,1h 33min,"Güneş Nezihe Şensoy,Doğa Zeynep Doğuşlu,Elit İ...",Deniz Gamze Ergüven,6713,456,"4,3","4,0",The Mustang,NaN,"$5,043,620","$1,362,196","$6,405,816",NaN
5,Call Me By Your Name,Call Me By Your Name,"Été 1983. Elio Perlman, 17 ans, passe ses vaca...","[Drame, Romance]",2018-02-28,2h 11min,"Armie Hammer,Timothée Chalamet,Michael Stuhlba...",Luca Guadagnino,7200,528,"4,3","4,2",Call Me by Your Name,NaN,"$18,095,701","$23,792,959","$41,888,660",NaN
6,Sueurs froides,Vertigo,"Scottie est sujet au vertige, ce qui lui porte...","[Thriller, Drame]",1959-01-30,2h 09min,"James Stewart,Kim Novak,Barbara Bel Geddes,Hen...",Alfred Hitchcock,10829,600,"4,3","3,8",Vertigo,NaN,"$7,705,225","$92,075","$7,797,300",NaN
7,Sixième Sens,The Sixth Sense,"Cole Sear, garconnet de huit ans est hanté par...","[Thriller, Drame]",2000-01-05,1h 47min,"Bruce Willis,Haley Joel Osment,Toni Collette,O...",M. Night Shyamalan,70132,1898,"4,3","4,0",The Sixth Sense,"$40,000,000","$293,506,292","$379,300,000","$672,806,292",632806292.0
8,Le Discours d'un roi,The King's Speech,D’après l’histoire vraie et méconnue du père d...,"[Biopic, Historique, Drame]",2011-02-02,1h 58min,"Colin Firth,Helena Bonham Carter,Derek Jacobi,...",Tom Hooper,31293,2565,"4,3","4,0",The King's Speech,"$15,000,000","$138,797,449","$288,576,868","$427,374,317",412374317.0
9,Taxi Driver,Taxi Driver,NaN,"[Drame, Policier]",1976-06-02,1h 55min,"Robert De Niro,Jodie Foster,Harvey Keitel,Cybi...",Martin Scorsese,28790,1371,"4,3","4,8",Taxi Driver,NaN,"$28,262,574","$178,718","$28,441,292",NaN
10,Aladdin,Aladdin,"Comment Aladdin, grâce à la felonie du grand v...","[Animation, Comédie musicale, Romance]",1993-11-10,1h 30min,NaN,John Musker,35492,806,"4,3","4,4",Aladdin,"$183,000,000","$355,559,216","$695,134,737","$1,050,693,953",867693953.0
11,Dragons 2,How to Train Your Dragon 2,"Tandis qu’Astrid, Rustik et le reste de la ban...","[Animation, Aventure, Famille]",2014-07-02,1h 43min,NaN,Dean DeBlois,16458,1210,"4,3","4,0",How to Train Your Dragon 2,"$145,000,000","$177,002,924","$444,534,595","$621,537,519",476537519.0
12,Il était une fois en Amérique,Once Upon a Time in America,"Il était une fois deux truands juifs, Max et N...","[Drame, Policier]",1984-05-23,4h 11min,"Robert De Niro,James Woods,Elizabeth McGovern,...",Sergio Leone,19539,1093,"4,5","4,9",Once Upon a Time in America,NaN,"$5,321,508","$151,406","$5,472,914",NaN
13,Imitation Game,The Imitation Game,"1940 : Alan Turing, mathématicien, cryptologue...","[Biopic, Drame]",2015-01-28,1h 55min,"Benedict Cumberbatch,Keira Knightley,Matthew G...",Morten Tyldum,25516,1296,"4,3","3,4",The Imitation Game,NaN,"$91,125,683","$142,430,025","$233,555,708",NaN
14,Retour vers le futur,Back to the Future,1985. Le jeune Marty McFly mène une existence ...,"[Science fiction, Aventure]",1985-10-30,1h 56min,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,78294,1999,"4,4","3,6",Back to the Future,"$19,000,000","$211,406,762","$170,500,000","$381,109,762",362109762.0
15,Citizen Kane,Citizen Kane,"A la mort du milliardaire Charles Foster Kane,...",[Drame],1946-07-01,1h 59min,"Orson Welles,Joseph Cotten,Dorothy Comingore,A...",Orson Welles,10618,643,"4,3","4,8",Citizen Kane,NaN,"$1,585,634","$15,085","$1,600,719",NaN
16,Wonder,Wonder,August Pullman est un petit garçon né avec une...,"[Drame, Famille]",2017-12-20,1h 51min,"Julia Roberts,Jacob Tremblay,Owen Wilson,Izabe...",Stephen Chbosky,5658,355,"4,3","3,0",Wonder,NaN,"$132,422,809","$173,517,797","$305,940,606",NaN
17,Le Château ambulant,Hauru no ugoku shiro,"La jeune Sophie, âgée de 18 ans, travaille sa...","[Animation, Fantastique]",2005-01-12,1h 59min,NaN,Hayao Miyazaki,25853,1297,"4,3","4,3",Howl's Moving Castle,NaN,"$5,576,743","$230,637,703","$236,214,446",NaN
18,Heat,Heat,Neil McCauley est un braqueur qui a de l'expér...,"[Policier, Drame]",1996-02-21,2h 50min,"Al Pacino,Robert De Niro,Val Kilmer,Jon Voight",Michael Mann,33152,1706,"4,3","3,2",Heat,NaN,"$67,436,818","$120,000,000","$187,436,818",NaN
19,Dofus - Livre 1 : Julith,Dofus - Livre 1 : Julith,"Dans la majestueuse cité de Bonta, Joris coule...",[Animation],2016-01-28,1h 47min,"Sauvane Delanoe,Emmanuel Gradi,Laetitia Lefebvre",Anthony Roux,1702,329,"4,3","2,8",Dofus - Livre 1: Julith,NaN,NaN,"$13,804","$13,804",NaN
20,Le Voyage de Chihiro,Sen to Chihiro no Kamikakushi,"Chihiro, dix ans, a tout d'une petite fille ca...","[Animation, Aventure]",2002-04-10,2h 05min,NaN,Hayao Miyazaki,39414,1372,"4,4","4,8",Spirited Away,NaN,"$13,750,644","$341,725,273","$355,475,917",NaN
21,Mon voisin Totoro,Tonari no Totoro,Deux petites filles viennent s'installer avec ...,"[Animation, Fantastique]",1999-12-08,1h 27min,NaN,Hayao Miyazaki,18497,703,"4,3","4,4",My Neighbor Totoro,NaN,"$2,250,213","$28,296,885","$30,547,098",NaN
22,Interstellar,Interstellar,NaN,"[Science fiction, Drame]",2014-11-05,2h 49min,"Matthew McConaughey,Anne Hathaway,Michael Cain...",Christopher Nolan,62519,4414,"4,5","3,8",Interstellar,"$165,000,000","$188,020,017","$513,709,110","$701,729,127",536729127.0
23,Ma Vie De Courgette,Ma Vie De Courgette,"Courgette n’a rien d’un légume, c’est un vaill...","[Animation, Drame, Famille]",2016-10-19,1h 06min,NaN,Claude Barras,3755,267,"4,3","4,4",My Life as a Zucchini,NaN,"$309,766","$5,563,490","$5,873,256",NaN
24,Nous trois ou rien,Nous trois ou rien,D’un petit village du sud de l’Iran aux cités ...,[Comédie dramatique],2015-11-04,1h 42min,"Kheiron,Leïla Bekhti,Gérard Darmon,Zabou Breitman",Kheiron,7120,677,"4,3","3,6",All Three of Us,NaN,NaN,"$3,985,169","$3,985,169",NaN
25,Dallas Buyers Club,Dallas Buyers Club,NaN,"[Drame, Biopic]",2014-01-29,1h 57min,"Matthew McConaughey,Jennifer Garner,Jared Leto...",Jean-Marc Vallée,16504,994,"4,3","3,9",Dallas Buyers Club,"$5,000,000","$27,298,285","$28,438,303","$55,736,588",50736588.0
26,Into the Wild,Into the Wild,"Tout juste diplômé de l'université, Christophe...","[Aventure, Drame, Biopic]",2008-01-09,2h 28min,"Emile Hirsch,Marcia Gay Harden,William Hurt,Je...",Sean Penn,53168,3573,"4,3","3,9",Into the Wild,NaN,"$18,354,356","$38,321,539","$56,675,895",NaN
27,Patients,Patients,"Se laver, s'habiller, marcher, jouer au basket...","[Drame, Comédie]",2017-02-01,1h 52min,"Pablo Pauly,Soufiane Guerrab,Moussa Mansaly,Na...",Grand Corps Malade,7472,524,"4,3","3,8",Step by Step,NaN,NaN,"$8,700,784","$8,700,784",NaN
28,Casino,Casino,"En 1973, Sam Ace Rothstein est le grand manito...",[Drame],1996-03-13,2h 58min,"Robert De Niro,Sharon Stone,Joe Pesci,Don Rickles",Martin Scorsese,25852,1201,"4,3","4,4",Casino,NaN,"$42,512,375","$73,600,000","$116,112,375",NaN
29,Le Château dans le ciel,Tenku no shiro Rapyuta,Retenue prisonnière par des pirates dans un di...,"[Animation, Aventure, Fantastique, Science fic...",2002-11-01,2h 04min,NaN,Hayao Miyazaki,23400,828,"4,3","5,0",Castle in the Sky,NaN,"$523,664","$5,516,357","$6,040,021",NaN
30,La Vie est belle,It's a Wonderful Life,Le décès de son père oblige un homme à reprend...,"[Comédie dramatique, Fantastique, Drame, Comédie]",1947-12-10,2h 09min,"James Stewart,Donna Reed,Lionel Barrymore,Thom...",Frank Capra,8880,451,"4,3","5,0",It's a Wonderful Life,NaN,"$44,000","$6,140,298","$6,184,298",NaN
31,La Mort aux trousses,North by Northwest,Le publiciste Roger Tornhill se retrouve par e...,"[Policier, Aventure]",1959-10-21,2h 16min,"Cary Grant,Eva Marie Saint,James Mason,Adam Wi...",Alfred Hitchcock,15986,675,"4,3","4,6",North by Northwest,NaN,NaN,"$73,695","$73,695",NaN
32,La Ruée vers l'or,The Gold Rush,"1898, Nord-Ouest du Canada. Alors que des mill...",[Comédie],1925-10-09,1h 12min,"Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",Charles Chaplin,6380,226,"4,3","5,0",The Gold Rush,NaN,NaN,"$26,916","$26,916",NaN
33,Dragons 3 : Le monde caché,How To Train Your Dragon: The Hidden World,Harold est maintenant le chef de Berk au côté ...,"[Animation, Aventure, Famille]",2019-02-06,1h 44min,NaN,Dean DeBlois,5515,346,"4,3","3,9",How to Train Your Dragon: The Hidden World,"$129,000,000","$160,799,505","$363,584,310","$524,383,815",395383815.0
34,La Cité de Dieu,Cidade de Deus,Dans une favela qui a vu le jour à Rio de Jane...,"[Drame, Policier]",2003-03-12,2h 15min,"Alexandre Rodrigues,Leandro Firmino da Hora,Se...",Fernando Meirelles,18669,841,"4,3","3,9",City of God,NaN,"$7,564,459","$23,116,334","$30,680,793",NaN
35,Le Crime était presque parfait,Dial M. for Murder,"Tony Wendice, une ancienne gloire du tennis, s...","[Thriller, Policier]",1955-02-02,1h 45min,"Ray Milland,Grace Kelly,Robert Cummings,Anthon...",Alfred Hitchcock,6577,281,"4,3","4,4",Dial M for Murder,NaN,"$12,562","$6,254","$18,816",NaN
36,Boulevard du crépuscule,Sunset Blvd.,"Norma Desmond, grande actrice du muet, vit rec...","[Drame, Romance]",1951-04-18,1h 50min,"William Holden,Gloria Swanson,Erich Von Strohe...",Billy Wilder,3010,225,"4,3","4,4",Sunset Blvd.,NaN,"$299,645",$428,"$300,073",NaN
37,Une merveilleuse histoire du temps,The Theory of Everything,"1963, en Angleterre, Stephen, brillant étudian...","[Biopic, Drame]",2015-01-21,2h 03min,"Eddie Redmayne,Felicity Jones,Tom Prior,Harry ...",James Marsh,9601,703,"4,3","3,3",The Theory of Everything,"$15,000,000","$35,893,537","$87,833,151","$123,726,688",108726688.0
38,Le Cercle des poètes disparus,Dead Poets Society,"Todd Anderson, un garçon plutôt timide, est en...",[Comédie dramatique],1990-01-17,2h 08min,"Robin Williams,Ethan Hawke,Robert Sean Leonard...",Peter Weir,42993,1292,"4,3","4,0",Dead Poets Society,NaN,"$95,860,116","$140,000,000","$235,860,116",NaN
39,Snatch,Snatch,Franky vient de voler un énorme diamant qu'il ...,"[Policier, Comédie]",2000-11-15,1h 43min,"Jason Statham,Brad Pitt,Vinnie Jones,Stephen G...",Guy Ritchie,39790,1575,"4,3","3,7",Snatch,NaN,"$30,328,156","$53,229,716","$83,557,872",NaN
40,L'Armée des Ombres,L'Armee des Ombres,"France 1942. Gerbier, ingénieur des Ponts et C...","[Drame, Guerre]",1969-09-12,2h 20min,"Lino Ventura,Simone Signoret,Paul Crauchet,Jea...",Jean-Pierre Melville,4777,325,"4,3","4,5",Army of Shadows,NaN,"$771,956","$68,766","$840,722",NaN
41,Old Boy,Oldeuboi,"A la fin des années 80, Oh Dae-Soo, père de fa...","[Thriller, Drame, Action]",2004-09-29,1h 59min,"Min-sik Choi,Yoo Ji-tae,Kang Hye-Jeong,Ji Dae-Han",Park Chan-Wook,23001,1600,"4,3","4,0",Oldboy,NaN,"$707,481","$14,294,635","$15,002,116",NaN
42,Vice Versa,Inside Out,"Au Quartier Général, le centre de contrôle sit...","[Animation, Comédie, Famille]",2015-06-17,1h 35min,NaN,Pete Docter,29231,1622,"4,3","4,7",Inside Out,"$175,000,000","$356,921,711","$501,149,639","$858,071,350",683071350.0
43,Danse avec les loups,Dances with Wolves,Le jeune lieutenant John Dunbar est envoyé à u...,[Western],1991-02-20,3h 54min,"Kevin Costner,Mary McDonnell,Rodney A. Grant,F...",Kevin Costner,30807,987,"4,3","5,0",Dances with Wolves,"$22,000,000","$184,208,848","$240,000,000","$424,208,848",402208848.0
44,Dans ses yeux,El Secreto de Sus Ojos,"1974, Buenos Aires. Benjamin Esposito enquête ...","[Drame, Policier, Romance, Thriller]",2010-05-05,2h 09min,"Ricardo Darín,Soledad Villamil,Pablo Rago,Guil...",Juan José Campanella,3973,763,"4,3","3,6",The Secret in Their Eyes,NaN,"$6,391,436","$28,688,214","$35,079,650",NaN
45,Le Majordome,The Butler,NaN,"[Drame, Biopic]",2013-09-11,2h 12min,"Forest Whitaker,Oprah Winfrey,Mariah Carey,Joh...",Lee Daniels,18647,1271,"4,3","3,2",Lee Daniels' The Butler,"$30,000,000","$116,632,095","$60,681,700","$177,313,795",147313795.0
46,Star Wars : Episode III - La Revanche des Sith,Star Wars: Episode III - Revenge of the Sith,La Guerre des Clones fait rage. Une franche ho...,"[Science fiction, Action, Aventure]",2005-05-18,2h 20min,"Hayden Christensen,Ewan McGregor,Natalie Portm...",George Lucas,68713,3541,"4,3","3,9",Star Wars: Episode III - Revenge of the Sith,"$113,000,000","$380,270,577","$488,119,983","$868,390,560",755390560.0
47,Amadeus,Amadeus,"A Vienne, en novembre 1823. Au coeur de la nui...","[Comédie dramatique, Historique]",1984-10-31,3h 00min,"Tom Hulce,F. Murray Abraham,Elizabeth Berridge...",Milos Forman,20371,898,"4,3","4,5",Amadeus,NaN,"$51,973,029","$93,762","$52,066,791",NaN
48,Harry Potter et les reliques de la mort - part...,Harry Potter and the Deathly Hallows - Part 2,"Dans la 2e Partie de cet épisode final, le com...","[Fantastique, Aventure]",2011-07-13,2h 10min,"Daniel Radcliffe,Rupert Grint,Emma Watson,Ralp...",David Yates,45985,4037,"4,3","3,8",Harry Potter and the Deathly Hallows: Part 2,NaN,"$381,409,310","$960,814,625","$1,342,223,936",NaN
49,Le Chant du Loup,Le Chant du Loup,Un jeune homme a le don rare de reconnaître ch...,"[Thriller, Guerre, Action]",2019-02-20,1h 56min,"François Civil,Omar Sy,Mathieu Kassovitz,Reda ...",Antonin Baudry,17315,1445,"4,3","3,5",Le chant du loup,NaN,NaN,"$12,652,790","$12,652,790",NaN

In [20]:
def recherche(moviename):
    if (moviename in list(df_movies['title'])):
        return (df_movies.loc[list(df_movies['title']).index(moviename)])
    else:
        return ('Movie not found in database')

In [21]:
print(recherche('Slumdog Millionaire'))
print('-------------------')
print(recherche('Intouchable'))

title                                     Slumdog Millionaire
titleint                                  Slumdog Millionaire
synop       Jamal Malik, 18 ans, orphelin vivant dans les ...
genre                  [Comédie dramatique, Comédie, Romance]
date                                      2009-01-14 00:00:00
duree                                                2h 00min
cast             Dev Patel,Freida Pinto,Mia Drake,Anil Kapoor
real                                              Danny Boyle
nbrnote                                                 51296
nbrcrit                                                  2985
notepub                                                   4,3
notepre                                                   3,5
titleen                                   Slumdog Millionaire
budget                                            $15,000,000
boxdom                                           $141,319,928
boxint                                           $237,090,614
boxtot                                           $378,410,542
rent                                              3.63411e+08
Name: 59, dtype: object
-------------------
Movie not found in database

In [22]:
collection.delete_many({})
collection.insert_many(df_movies.to_dict(orient='records'))

In [23]:
#### ZONE DE TEST #####

In [24]:
def sortfilm(collection, condition, genre, nbr):
    """
    Fonction permettant de faire intéragir la page Flask top film.
    Args:
        Str : Condition de sélection du top film
        Str : Filtre des films par genre
        Int : Nombre de film à afficher
    Return:
        Liste : Liste des films en fonction du top et du genre
    """
    genrefilter = ['Action', 'Animation', 'Aventure', 'Biopic', 'Comédie', 'Comédie dramatique', 'Comédie musicale', 'Documentaire', 'Drame', 'Epouvante-horreur', 'Famille', 'Fantastique', 'Guerre', 'Historique', 'Musical', 'Policier', 'Romance', 'Science fiction', 'Thriller', 'Western', 'Divers']
    #On trie en fonction de la condition
    if (condition == "bestpub"): 
        trie = [('notepub',-1), ('nbrnote',-1)]
        info = {'title':1, 'notepub':1, 'nbrnote':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Nombre de note', 'Note']
    elif (condition == "bestpre"):
        trie = [('notepre',-1), ('nbrnote',-1)]
        info = {'title':1, 'notepre':1, 'nbrnote':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Nombre de note', 'Note']
    elif (condition == "recent"):
        trie = [('date',-1)]
        info = {'title':1, 'date':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Date (Y-m-d)']
    elif (condition == "ancien"):
        trie = [('date',1)]
        info = {'title':1, 'date':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Date (Y-m-d)']
    elif (condition == "rent"):
        trie = [('rent',-1)]
        info = {'title':1, 'rent':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Rentabilité']
    elif (condition == "long"):
        trie = [('duree',-1)]
        info = {'title':1, 'duree':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Durée']
    elif (condition == "court"):
        trie = [('duree',1)]
        info = {'title':1, 'duree':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Durée']
    
    #On ajoute le filtre pour le genre
    if (genre != 'All') : genrefilter = [genre]
    
    #On récupère
    movielist = collection.find({'genre': {'$in' : genrefilter}}, info).sort(trie)
    
    data=[]
    data.append(legend)
    for k in (list(movielist)[:nbr]):
        data.append(list(k.values())[1:])
    if ('Date (Y-m-d)' in data[0]):
        for l in data[1:]: l[-1]=str(l[-1]).split()[0]
        
    #On affiche le résultat
    return(data)

In [25]:
def selectmovie(collection, moviename):
    """
    Fonction permettant d'avoir toutes les informations sur un film
    Args: 
        Str: Nom du film
    Returns:
        Liste : Toutes les informations sur le film
    """
    movieinfo = collection.aggregate([{'$match': {'title' : moviename}}])
    if (list(collection.aggregate([{'$match': {'title' : moviename}}])) == []):
        return("Movie not found")
    else:
        data = []
        data.append(list(list(movieinfo)[0].values())[1:])
        return(data)

In [26]:
movieinfo = collection.aggregate([{'$match': {'title' : "Forrest Gump"}}])
if (list(collection.aggregate([{'$match': {'title' : "Forrest Gump"}}])) == []):
    print("sd")
else:
    data = []
    data.append(list(list(movieinfo)[0].values())[1:])
data
collection.aggregate([{'$match': {'title' : "Forrest Gump"}}])

In [28]:
movieinfo = selectmovie(collection, 'Avsdfar')
movieinfo

IndexError: list index out of range

In [43]:
sortfilm(collection, 'bestpub', 'Action', 1)

[['Titre', 'Genre(s)', 'Nombre de note', 'Note'],
 ['The Dark Knight, Le Chevalier Noir', ['Action', 'Thriller'], 91527, '4,5']]